*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/*.navbar{
	background-color: cyan;
}*/
.nav-link{

	color: black;
	font-weight: 600;
}


.navbar-brand{
	text-decoration: none;
	color: black;
	font-size: 30px;
	font-weight: 800;
	font-family: 'Reggae One', cursive;
	position: relative;
}
.navbar-brand::before{
	content: "~ProWeb~";
	width: 80%;
	color: hsl(183, 100%, 50%);
	position: absolute;
	border-right: 0.2rem solid hsl(183, 100%, 50%);
	animation: slide 2s linear infinite;
	-webkit-animation:slide 3s linear infinite;
	overflow: hidden;
}
@keyframes slide{
	0%{
		width: 0%;
	}
	0%{
		width: 80%;
	}
	80%{
		width: 0%;
	}
}
/*.nav-item{
	border: 2px solid black;
	border-radius: 10px;
	animation:labuk 1s infinite;
}*/

.nav-item:hover{
	/*border-bottom-style:  groove;*/
	border: 2px solid black;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.07);
	animation:labuk 1s infinite;
}
@keyframes labuk{
	50%{border:2px solid white;}

}

.carousel-caption{
	position: absolute;
	top: 55%;
	transform: translateY(-80%);
	left: -8%;
}

.carousel-caption h1{
	font-size: 70px;
	font-weight: 400;
	color: black;
}

.carousel-caption p{
	color: black;
	font-weight: 600;
}

.btn0{
	background-color: red;
	height: 45px;
	width: 150px;
	color:white;
	outline: none;
	border:none;
}

.btn0:hover{
	background-color: white;
	color: red;
	transition: 0.6s;
}

.sub{
	background-color: rgb(70,63,63);
}
.sub input{
	height: 51px;
	width: 50%;
	color: black;
	outline: none;
	padding: 10px;
}

.btn1{
	height:50px;
	width:50%;
	color:white;
	background-color:yellowgreen;
	outline:none;
	border:none;
	margin-left:-2px;
}

.btn1:hover{
	background-color:darkgray;
	color:white;
	transition:0.6s;
}


/*.................*/

.collection span{
	color:yellowgreen;
	font-size:19px;
	font-weight: 800;
	padding-left:5px;
}
.card{
	border:none;
}

.collection input{
	position: absolute;
	height: 45px;
	width: 110px;
	background-color: yellowgreen;
	color: white;
	border-radius: 5px;
	outline: none;
	border:none;
	text-align: center;
	top: 35%;
	left:30%;
	opacity: 0;
}

.collection .card:hover input{
	opacity: 1;
	transition: 1s;
}

.collection input:hover{
	background-color: rgb(82,75,75);
	transition: .05s;
}

.parallex{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(watch.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	width: 100%;

}

.parallex h1{
	font-size: 55px;
	font-weight: 450;
}

.parallex p{
	font-size: 22px;
}

.btn2{
	height: 40px;
	width: 110px;
	background: transparent;
	border: 2px solid white;
	outline:none;
	color:white;
	border-radius:4px;
}

.btn2:hover{
	background-color:white;
	color:yellowgreen;
	transition:0.3s;
	border:none;
}

.btn3{
	height:40px;
	width:110px;
	background-color:white;
	outline:none;
	border:none;
	color:yellowgreen;
	border-radius:4px;
}

.btn3:hover{
	background-color:rgb(47,42,42);
	color:white;
	border:2px solid white;
	outline:none;
	transition:0.3s;
}
/*..............*/


.article a{
	list-style: none;
	color: black;
	outline: none;
}

.article a:hover{
	color: yellowgreen;
	transition: 0.3s;
}

.article p{
	font-size: 21px;
}

.article span{
	color:yellowgreen;
}

.article small{
	font-size: 15px;
}

.contact input{
	height:50px;
	width: 100%;
	outline: none;
	border: none;
	color: gray;
	background-color: white;
	padding: 10px;
	box-shadow: 17px 1px 19px -2px rgba(0,0,0,0.74);
-webkit-box-shadow: 17px 1px 19px -2px rgba(0,0,0,0.74);
-moz-box-shadow: 17px 1px 19px -2px rgba(0,0,0,0.74);
}

.btn4{
	height: 45px;
	width: 160px;
	background-color: yellowgreen;
	color: white;
	outline: none;
	border: none;
	cursor: pointer;
	display: inline-block;
}